<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>index page</h1>
<p>Link to check out page</p>
<a href="/checkout">Checkout Page</a>
<div th:switch="${checkout}">
    <h2 th:case="null">No checkouts yet!</h2>
    <div th:case="*">
        <h2>Checkout</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="checkout : ${checkout}">
                <td th:text="${checkout.fname}"></td>
                <td th:text="${checkout.lname}"></td>
                <td><a th:href="@{/edit/{id}(id=${checkout.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${checkout.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/checkout">Go to checkout</a></p>
</div>
</body>
</html>